<!doctype html>
<html>
<head>
	<title>Fake Town Minor Hockey</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>Fake Town Minor Hockey</h1>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

		<!-- staff or admin creates users now -->
		<!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>-->
	</div>

</div>
</body>
</html>


