<!doctype html>
<html>
<head>
	<title>Fake Town Minor Hockey</title>

	<% include headerLinks.ejs %>
	
</head>
<body>
<div class="homepage container">

	<div class="jumbotron text-center">
		<h1>Fake Town Sports League</h1>

		<a href="/login" class="btn btn-lg">Login</a>

		<!-- Pretty greasy (Will fix later) uncomment this line to create initial admin user -->
		<!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>-->
	</div>

</div>
</body>
</html>


