extends layout

block content
  p Fake Town Minor Hockey

  #wrapper

    h2 Player List
    #playerList
      table
        thead
          th Name
          th Age
          th Delete?
        tbody
