<header>
	<h1 id="logo"><a class="brand" href="/staff">Fake Town Sports League</a></h1>
	<a id="logout" href="/logout">Logout</a>
</header>

	<div class="local-nav brand">
		<a href="#">View Team</a>
		<a href="#">View Stats</a>
	</div>

<div class="main container">
	<div class="text-center">
		<h1>Player Locker Room</h1>
		<h3><span class="fa fa-user"></span><%= user.username %></h3>
	</div>
</div>