<!doctype html>
<html>
<head>
	<title>Player Locker Room</title>
	<% include headerLinks.ejs %>
</head>
<body>

<nav class="navbar navbar-inverse">

	<div class="navbar-header" id="navheader">
		<h4>Fake Town Minor Hockey</h4>
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout" id="logout">Logout</a></li>
	</ul>

</nav>

<div class="container">

	<div class="page-header text-center">
		<h1>Player Locker Room</h1>
		<h3><span class="fa fa-user"></span><%= user.username %></h3>
	</div>

</div>


</body>
</html>