<!doctype html>
<html>
<head>
	<title>Staff Locker Room</title>

	<% include headerLinks.ejs %>

</head>
<body>

	<% include staffNav.ejs %>


	<div class="col-sm-12">


		<h3>Num Players: <%= numPlayers %></h3>
		<h3>Num Teams: <%= numTeams %></h3>
		

	</div>

	




</body>
</html>