<!doctype html>
<html>
<head>
	<title>Staff Locker Room</title>

	<% include headerLinks.ejs %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

	<% include staffNav.ejs %>


	<div class="col-sm-9">
		<div class="playerList" id="playerList">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Birth Date</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>

					<% for(var i=0; i<players.length; i++) {%>
						<tr> 
							<td><%= players[i].username %></td>
							<td><%= players[i].firstname %></td>
							<td><%= players[i].lastname %></td>
							<td><%= formatDate(players[i].birthdate) %></td>
							<td><a onclick="editPlayer()">Edit</a></td>

						</tr>
					<%}%>


				</tbody>
			</table>
		</div>
	</div>
</body>
</html>