@font-face {
  font-family: Bebas;
  src: url('../public/fonts/BebasNeue.otf');
}

@font-face {
  font-family: Code;
  src: url('../public/fonts/CODE Bold.otf');
}

/* Variables */
$colorScheme1: #594F4F;
$colorScheme2: #547980;
$colorScheme3: #45ADA8;
$colorScheme4: #9DE0AD;
$colorScheme5: #E5FCC2;

$chasmBlue: #1B3966;
$offYellow: #CEC534;
$lightBrown: #BE8431;

$headerHeight: 60px;

/*      Nav headers
-------------------------------------------------------------- */
header {
    width: 100%;
    height: $headerHeight;
    overflow: hidden;
    font-family: Code;
    top: 0;
    left: 0;
    background-color: $chasmBlue;
    text-align: center;
}

header h1#logo {
    display: inline-block;
    font-family: Code;
    font-size: 40px;
    margin-top: 0px;
    padding-left: 5px;
}

header h1 a { color: $lightBrown; }
header a:hover {text-decoration: none; color:white;}
a#logout:hover {color:white;}

header a#logout {
    font-family: Bebas;
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 10px; 
    line-height: $headerHeight;
    color: $lightBrown;
    font-size: 18px;
    z-index:999;
}

.brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index:1;
}


.local-nav {
    width: 100%;
    background-color: $lightBrown;
    padding-bottom: 10px;
    padding-top: 5px;
}

.local-nav a {
    font-family: Code;
    color: white;
    font-size: 20px;
    padding-right: 10px;
    text-shadow: -1px 0 $chasmBlue, 0 1px $chasmBlue, 1px 0 $chasmBlue, 0 -1px $chasmBlue;

}

.local-nav a:hover, .local-nav a:active {
    color: $chasmBlue;
    text-shadow: none;
    text-decoration: none;
}

/*  /NavHeaders
-------------------------------------------------------------- */

/* index splash page and login
-------------------------------------------------------------- */
.homepage .jumbotron  {

    background-color: $chasmBlue;
    margin-top: 50px;

    h1 { color: $lightBrown; }
    a {background-color: lighten($lightBrown, 10%); color: $chasmBlue; }
    a:hover {background-color: $lightBrown; }
}

.login {

    background-color: $chasmBlue;
    color: $lightBrown;
    margin-top: 80px;

    button {
        background-color: lighten($lightBrown, 10%);
        color: $chasmBlue;
        margin-bottom: 10px;
    }
    button:hover {
        background-color: $lightBrown;
    }
}


/* /index splash page
-------------------------------------------------------------- */

.center {
    text-align: center;
}

.main {
    padding-top: 50px;
}
.hidden {
	display: none;
}

.inputForm {
	margin-bottom: 5px;
}

.form-actions {
    text-align: center;
}

.alert {

    animation:alert-fade 2s;
    -webkit-animation:alert-fade 2s;
    animation-fill-mode: forwards;
    
    animation-delay:2s;
    -webkit-animation-delay:2s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

label {
	margin-right: 5px;
}

@-webkit-keyframes alert-fade{
    0%   {opacity: 1;}
    30% {opacity: 0.8;-webkit-transform: translateY(0px);margin-top:0px;}
    50% {opacity: 0}
    100% {opacity: 0;-webkit-transform: translateY(-30px);margin-top:-70px;}/* rough hack for size of alert */
}