#navheader {
	color: white;
	margin-left: 10px;
}

#logout {
	margin-right: 15px;
	color: white;
}

.nav-pills {
	padding-right: 5px;
}

.nav-sidebar { 
    width: 100%; 
    border-right: 1px solid #ddd;
}

.hidden {
	display: none;
}

.inputForm {
	margin-bottom: 5px;
}

.form-actions {
    text-align: center;
}

label {
	margin-right: 5px;
}
